.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 9px;
}

.text-animate-hover {
    min-width: 9px;
    display: inline-block;
    animation-fill-mode: both;
    transition: color 0.3s ease-out;

    &:hover {
        animation: rubberBand 1s;
        color: #4b749a;
    }
}

@for $i from 1 through 57 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}

.blinker {
    animation: blink-animation 1s infinite;
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    opacity: 0;

    @keyframes blink-animation {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &:hover {
        animation: rubberBand 1s;
        color: #4b749a;
    }

    animation-delay: 2s;
}

@media screen and (max-width: 900px) {
    .text-animate {
        min-width: 7px;
    }

    .text-animate-hover {
        min-width: 7px;
    }
}