.proj-bx {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    height: 220px;
    margin: 10px;
    margin-top: 70px;
    transition: 0.5s;
    background: #060c21;
    border-radius: 10px;

    .imgx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;

        img {
            height: 100%;
            width: 100%;
            opacity: 0.1;
            transition: 0.5s;
            object-fit: fill;
        }
    }

    .dex {
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        height: 90px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        opacity: 1;
        transition: 0.5s;
        text-align: center;

        h2 {
            font-size: 20px;
            color: #fff;
            font-weight: 500;
            // line-height: 25px;
            letter-spacing: 1px;

            span {
                font-size: 14px;
                color: #fff;
                font-weight: 200;
                letter-spacing: 1.8px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        z-index: -1;
        background: linear-gradient(235deg, #4520a2, #082533, #00bcd4);
    }

    &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        z-index: -2;
        background: linear-gradient(235deg, #4520a2, #010615, #00bcd4);
        filter: blur(40px);
    }

    &:hover {

        .imgx img {
            opacity: 1;
            height: 100%;
        }

        .dex {
            opacity: 0;
        }

        &:before {
            animation: slidebgc 4s linear infinite;
        }

        &:after {
            animation: slidebgc 4s linear infinite;
        }
    }
}
@media screen and (max-width: 900px) {
    .proj-bx{
        .dex{
            h2{
                font-size: 18px;
                span{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .proj-bx {
        height: 150px;
        width: 43%;

        .imgx img {
            height: 100%;
        }

        .dex{
            h2{
                font-size: 16px;

                span{
                    font-size: 10px;
                }
            }
        }

        &:hover {
            height: 210px;

            .imgx img {
                height: 100px;
            }
        }
    }
}

@keyframes slidebgc {
    to {
        background-position: 20vw;
    }
}