.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #4b749a;
            font-size: 18px;
            position: absolute;
            top: -20px;
            left: 10px;
            opacity: 0.6;
        }

        &:after {
            content: '<h1 />';
            font-family: 'La Belle Aurore';
            color: #4b749a;
            font-size: 18px;
            position: absolute;
            top: 32px;
            left: 225px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #fff;
        font-size: 33px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            content: '<h2>';
            font-family: 'La Belle Aurore';
            color: #4b749a;
            font-size: 18px;
            position: absolute;
            margin-top: -13px;
            left: 1px;
            opacity: 0.6;
        }

        &:after {
            content: '<h2 />';
            font-family: 'La Belle Aurore';
            color: #4b749a;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h3 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 5.6s backwards;
    }

    .flat-button {
        color: #b7b6b6;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #b7b6b6;
        float: left;
        margin-top: 25px;
        animation: fadeIn 1s 6s backwards;
        white-space: nowrap;

        &:hover {
            background: #b7b6b6;
            color: #333;
        }
    }
}

.contain-clock {
    position: absolute;
    width: 358px;
    height: 358px;
    top: calc(50% - 180px);
    right: 12%;
    opacity: 0;
    animation: backInRight;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 900px) {

    .tags,
    .home-page h1:before,
    .home-page h1:after,
    .home-page h2:before,
    .home-page h2:after {
        display: none;
    }

    .home-page .text-zone {
        position: initial;
        margin-top: 20%;
        width: 100%;
        transform: none;
        padding: 10px;
        box-sizing: border-box;
    }

    .home-page .flat-button {
        display: block;
        margin: 20px auto 0 auto;
        width: 124px;
    }

    .contain-clock {
        top: 290px;
        right: calc(50% - 178px);
    }
}